body {
    padding-top: 70px;
}

.portfolio-item {
    margin-bottom: 25px;
    width: 360px;
    height: 240px;
}

.portfolio-item img{
    width: 360px;
    height: 240px;
}

.pagination-block{
    margin-top: 400px;
}

.song-block{
    margin-left: 14px;
}